form {
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 400px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

h1{text-align: center;
    font-family: 'arial';
    font-size: 30px;
    color: black;
    border :  10px solid rgb(16, 151, 192);
    text-shadow: 2px 2px 1px black;
  }
    